.top-bar{background:#222;border-bottom:1px solid #eaebef;height:45px;position:fixed;overflow:hidden;top:0;z-index:1000;width:100%}
.top-bar ul li{display:inline-block}
.top-bar ul li a{color:#888;display:inline-block;padding:0 10px;line-height:45px}
.top-bar .left-bar-side{float:left;margin-bottom:0}
.top-bar .right-bar-side{float:right}
.top-bar i{margin:0 4px}
.top-bar .left-bar-side li{border:none;margin-right:0}
.top-bar .left-bar-side li:nth-last-child(1) span{display:none}
.top-bar .left-bar-side p{font-weight:400;color:#9d9c9c;line-height:40px;margin:0;display:inline-block;line-height:45px;font-size:14px}
.top-bar .left-bar-side span{color:#9c9c9c;margin:0 15px}